---
layout: page
title: Australian Geometric PDE Seminar
category: seminar
---

{% assign posts = site.categories[page.category] | sort: 'date' %}
{% for post in posts %}
<div class="panel panel-default research-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-9">
	<h1 class="panel-title" class="display-1">
	  {{ post.title }}
	</h1>
      </div>
      <div class="col-sm-3">
	<p class="text-right"><a href="#details-{{ post.youtube-id }}" class="show-hide-abstract" data-toggle="collapse">View Lecture<i class="fa fa-caret-down" class="abstract-arrow" alt="Show recording" title="Show recording"></i></a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
	<ul>
	  <li><strong>Speaker</strong>: <a href="{{ post.speaker-url }}">{{ post.speaker }}</a>
	    ({% for inst in post.speaker-inst %}
	    {{ inst }}
	    {% endfor %})
	  </li>
	  <li>
	    <strong>Date</strong>: {{ post.date | date: "%-d %B %Y" }}
	  </li>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
	<h1 class="panel-title" class="display-3">Abstract</h1>
	{{ post.abstract }}
      </div>
    </div>

    {% if post.slides %}
    <div class="row">
      <div class="col-md-12">
	<p><a href="/pdf/geompde/slides/{{ post.slides }}">Download lecture presentation (slides, notes etc.)</a></p>
      </div>
    </div>
    {% endif %}

    <div id="details-{{ post.youtube-id }}" class="collapse">
      <div class="row">
	<div class="col-sm-12">
	  <div class="embed-responsive embed-responsive-16by9">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.youtube-id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </div>
	</div>
      </div>

      {% if post.transcript %}
      <div class="panel panel-default content-panel">
	<div class="panel-body">
	  <p>
	    <b>What follows is a very rough transcript taken during the lecture</b>. It has only been edited to ensure the TeX compiles. No effort has been expended as yet to ensure accuracy. There are surely many errors. Please send any comments, suggestions, typos etc. to <a href="mailto:Paul%20Bryan%20%3Cpabryan@gmail.com%3E">Paul Bryan</a>
	  </p>
	  {% if post.transcript-pdf %}
	  <a href="/pdf/geompde/transcripts/{{ post.transcript-pdf }}">Download transcript PDF</a>
	  {% endif %}
	  {% include geompde/transcripts/{{ post.transcript }} %}
	</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

