{% assign slides-pdf = "/pdf/geompde/slides/" | append: postid | append: ".pdf" %}
{% assign transcript-pdf = "/pdf/geompde/transcripts/" | append: postid | append: ".pdf" %}
{% assign transcript-html = "geompde/transcripts/" | append: postid | append: ".html" %}

{% assign has-slides = false %}
{% assign has-transcript-pdf = false %}
{% assign has-transcript-html = false %}

{% for static_file in site.static_files %}

{% if static_file.path == slides-pdf %}
{% assign has-slides = true %}
{% endif %}

{% if static_file.path == transcript-pdf %}
{% assign has-transcript-pdf = true %}
{% endif %}

{% if static_file.path == transcript-html %}
{% assign has-transcript-html = true %}
{% endif %}

{% endfor %}
